@@include('./_partial/_config.html')

<section class="container component-container">

    <div class="row">
        <div class="col-md-12">
            <span>components</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="component_id">newsitem prominent</div>
            @@include('./mcw.newsitem_prominent.html')
        </div>
        <div class="col-md-6">
            <div class="component_id">newsitem horizontal</div>
            @@include('./mcw.newsitem_horizontal.html')
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="component_id">newsitem vertical</div>
            @@include('./mcw.newsitem_vertical.html')
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="component_id">tiles</div>
            @@include('./mcw.tiles.html')
        </div>
    </div>

</section>