<section class="news-item_container horizontal clearfix">
    <div class="news-item">
        <span class="news-item_visual">
            <img src="../img/placeholder.png">
        </span>
        <span class="news-item_inner">
            <span class="news-item_title">newsitem title</span>
            <span class="news-item_date">23-03-2023</span>
            <span class="news-item_category">category</span>
            <span class="news-item_description">newsitem description with multiple lines of text.</span>
        </span>
    </div>
    <div class="news-item">
        <span class="news-item_visual">
            <img src="../img/placeholder.png">
        </span>
        <span class="news-item_inner">
            <span class="news-item_title">newsitem title</span>
            <span class="news-item_date">23-03-2023</span>
            <span class="news-item_category">category</span>
            <span class="news-item_description">newsitem description with multiple lines of text.</span>
        </span>
    </div>
    <div class="news-item">
        <span class="news-item_visual">
            <img src="../img/placeholder.png">
        </span>
        <span class="news-item_inner">
            <span class="news-item_title">newsitem title</span>
            <span class="news-item_date">23-03-2023</span>
            <span class="news-item_category">category</span>
            <span class="news-item_description">newsitem description with multiple lines of text.</span>
        </span>
    </div>
</section>