.component-container {
  *[class*='col-'] {
    background: #fafafa;
    border: 1px solid #dcdcdc;
  }
  .component_id {
    background: #ececec;
    margin: 0 0 $space 0;
    padding: 5px 0 5px 10px;
    border-left: 5px solid #11Bd4a;
  }
}

/* Grid */
.container {
  margin: 0 auto;
  max-width: 1280px;
  box-sizing: border-box;
  position: relative;
}

/* Clear column margin and column float */
.row {
  width: 100%;
}
.row:before,
.row:after { content: ''; display: table; }
.row:after { clear: both; }

/* Columns */
*[class*='col-'] {
  float: left; /* float columns in rows so we set clearfix on the row */
  width: 100%;
  position: relative;
  padding: $space;
  box-sizing: border-box;
  //border: 1px solid #4a4aff;
}
[class*=col-] > [class*=col-] { padding: 0; }

/* Media query magic */
@media (min-width: 480px) {  
  @for $i from 1 through 12 {
    .col-md-#{$i} { 
      width: 100% / 12 * $i;
    }
  }
}